@import "vars";
@import "fonts";

body {
	font-size: 14px;
	min-width: 320px;
	line-height: 22px;
	font-family: 'Roboto', sans-serif;
	color: #767676;
	font-family: 'PT SansR', sans-serif;
	height: 100%;
	position: relative;
}
.close {
        display: inline-block;
        float: right;
        margin-top: -62px;
        margin-right: -27px;
    }
#dark {
	background-color: rgba(0,0,0,.5);
    width: 100%;
   	height: 100%;
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    display: none;
    &:target {
    	display: block;
    }
}
#feed {
	margin: 284px auto;
	background-color: #fff;
	width: 466px;
	height: 568px;
	padding-top: 35px;
	padding-bottom: 26px;
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	form {
		height: 100%;
		color: #535353;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		input {
			width: 339px;
			height: 40px;
			padding: 5px;
			&:valid {
				color: green;
			}
			&:focus:invalid {
				color: red;
				border: 1px solid #ff8383;
				box-shadow: inset 0 0 13px rgba(228, 106, 106, 0.75);
			}
			&::placeholder {
				color: #fff;
			}
			&:focus:required::placeholder{
					color: #dc7f7f;
					font-style: italic;
					
				}

		}
		h2 {
			margin: 0;
			color: #535353;
			text-transform: uppercase;
			font-size: 24px;
			font-weight: 700;
		}
		textarea {
			resize: none;
			width: 339px;
			height: 140px;
		}
		button {
			padding: 14px 16px;
			border: none;
			text-transform: uppercase;
			font-weight: 700;
			background-color: #777;
			color: #fff;
			font-size: 18px;
		}
	}
}
#wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	min-height: 100vh;
	height: 100%;
}

.conteiner {
	width: 1000px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}

.header {
	background-color:#dcdcdc;
	height: 230px;
}
.header-wrapper {
	display: flex;
	height: 100%;
	.header-inner2 {
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		.tel {
			text-align: right;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			&__item {
				text-align: right;
				text-decoration: none;
				font-family: 'Open Sans CL', sans-serif;
				letter-spacing: 1px;
				font-size: 40px;
				line-height: 46px;
				color: #767676;
			}
			.feedback {
				color: #767676;
				text-decoration: none;
				border-bottom: 2px dashed #767676;
				font-size: 24px;
				font-weight: 700;
				line-height: 46px;
			}
		}
	}
	.header-inner1 {
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		.logo{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			&-description {
				margin-left: 10px;
				&__title{
					color: #777;
					font-size: 24px;
				}
				&__subtitle {
					color: #777777;
					font-size: 11px;
				}
			}
		}
	}
}

.menu {
	background-color: #777;
	height: 80px;
	.nav {
		height: 100%;
		ul {
			height: 100%;
			list-style: none;
			display: flex;
			align-items: center;
			margin: 0;
			justify-content: center;
			padding: 0;
			li {
				padding-left: 12px;
				padding-right: 12px;
				border-left: 2px solid #fff;
				font-size: 30px;
				&:first-child {
					padding-left: 0;
					border: none;
				}
				&:last-child {
					padding-right: 0;
				}
			}
			a {
				color: #ffffff;
				letter-spacing: 0.75px;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
@keyframes slider {
	from {
		background: url(../img/slide1.png) bottom;
		background-size: cover;
	}
	50% {
		background: url(../img/slider.png) bottom;
		background-size: cover;
		opacity: 0;

	}
	to {
		background: url(../img/slide2.png) bottom;
		background-size: cover;
	}
}
.prev,.next {
	width: 32px;
	height: 61px;
	position: absolute;
	cursor: pointer;
}
.prev {
	background: url('../img/prev.png');
	top: 50%;
	left: 20%;
}
.next {
	background: url('../img/next.png');
	top: 50%;
	right: 20%;
}
.slider {
	position: relative;
	height: 400px;
	background-color: #f8f8f8;
	.slider-item {

		margin: 0 auto;
		height: 100%;
		width: 1248px;
		background: url(../img/slide1.png) bottom;
		background-size: cover;
		animation: slider 4s ease-in infinite alternate forwards;
	}
}
.breadcrumbs {
	width: 1000px;
	margin: 0 auto 26px;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	a {
		color: #767676;
	}
}
.content {
	width: 1000px;
	margin: 0 auto;
	margin-bottom: 202px;
	display: flex;
	flex-flow: row nowrap;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	.leftblock-wrap {
		width: 178px;
		height: 508px;
	}
	.centerblock-wrap {
		width: 781px;
		min-height: 1133px;
	}
	.leftblock {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.leftnav {
			.subnav {
				font-size: 14px;
				margin: 0;
				padding-left: 25px;
				letter-spacing: 0.35px;
				a {
					text-decoration: none;
					font-size: 14px;
				}
				li:first-child {
					a {
						text-decoration: underline;
						color: #010101;
					}
				}
			}
		}
		.leftnav>ul {
				padding: 0;
				margin: 0;
				list-style: none;
				a {
					color: #767676;
					font-size: 18px;
					line-height: 30px;
					text-decoration: none;
				}
			
			}
		}
		.price{
			text-align: center;
			a {
				font-size: 30px;
				display: block;
				line-height: 25px;
				color: #444444;
				margin-top: 0;
				text-decoration: none; 

			}
		}
}
	.centerblock {
		width: 100%;
		height: 100%;
		&-text {
			display: flex;
			justify-content: space-between;
			padding-top: 30px;
			border-top: 1px solid #767676;
			letter-spacing: 0.35px;
			p {
				line-height: 22px;
				color: #767676;

			}
			p:first-child {
				width: 371px;
			}
			p:nth-child(2) {
				width: 368px;
			}

		}
		&-pager {
			margin: 32px auto 66px;
			ul {
				padding: 0;
				margin: 0;
				display: flex;
				justify-content: center;
				li:nth-child(3) a{
					color: #444444;
					font-size: 18px;
				}
				li {
					list-style: none;
					letter-spacing: 10.17px;
					padding: 10px;
					a {
						text-decoration: none;
						color: #767676;
					}
				}
			}
		}
		&-img {
			display: flex;
			flex-flow: row wrap;
			&-item {
				width: 250px;
				height: 380px;
				padding: 20px;
				background-color: #dcdcdc;
				box-sizing: border-box;
				margin-bottom: 15px;
				&:not(:nth-child(3n+3)) {
					margin-right: 15px;
				}
				p {
					font-size: 18px;
					font-weight: 700;
				}
				.priceline {
					display: flex;
					justify-content: space-between;
				}
				.price1 {
					color: #444444;

				}
			}
		}
	}

.footer {
	background-color: #777;
	height: 220px;
	color: #fff;
	.footer-wrapper {
		display: flex;
		height: 100%;
		padding-top: 50px;
		text-align: left;
		.footer-inner1, .footer-inner2, .footer-inner3 {
			width: 33%;
			h2 {
				min-height: 0;
			}
			a {
				color: #fff;
			}
		}
		.footer-inner1 {
			&-content {
				a {
					text-decoration: none;
				}
				p {margin: 0;}
			}
		}
		.footer-inner2 {
			&-content {
				ul{
					margin: 0;
					padding: 0;
					list-style: none;
				}
				
			}
		}
		.footer-inner3 {
			&-content {
				display: flex;
				justify-content: flex-end;
				p {
					padding: 0;
					margin: 0;
					margin-left: 9px;
				}
				img {
					margin-top: 5px;
				}
			}
		}

	}
}

 /* in the end*/
 @import "media";